<a href="https://colab.research.google.com/github/betulozturan/Bots-during-Covid-19/blob/master/Civid_bots.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

In [5]:
##import the dataset from drive. The dataset contains the tweets about covid during XXXX
covid_new = pd.read_csv(r'/content/drive/My Drive/css/covid_all/before/new_all_covid_all_nodublication.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,4,5,6,7,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
print(covid_new.shape)

(22677206, 10)

In [7]:
covid_tek = covid_new.drop_duplicates(subset='id', keep='first')

In [8]:
print(covid_tek.shape)

(3179181, 10)

In [7]:
covid_tek.head()

                    id        date  ... user_rt            mentions
0  1245138804224200705  2020-03-31  ...     NaN  ['ilaydaincesoyy']
1  1245138773077344256  2020-03-31  ...     NaN                  []
2  1245138772888637443  2020-03-31  ...     NaN     ['asliiovalii']
3  1245138770313256967  2020-03-31  ...     NaN                  []
4  1245138707516133381  2020-03-31  ...     NaN                  []

[5 rows x 10 columns]

In [9]:
pip install botometer

Requirement already satisfied: botometer in /usr/local/lib/python3.6/dist-packages (1.5)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from botometer) (2.23.0)
Requirement already satisfied: tweepy>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from botometer) (3.6.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->botometer) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->botometer) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->botometer) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->botometer) (2020.4.5.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.5.0->botometer) (1.12.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.5.0->botometer) (1.3.0)
Requirement already satisfied: PySocks>=1.5.7 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.5.0->botometer) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.5.0->botometer) (3.1.0)

In [10]:
import json
import gzip
import numpy as np
import pandas as pd
import datetime
from dateutil.parser import parse

import matplotlib
from matplotlib import pyplot as plt
import matplotlib.gridspec as gridspec

import botometer

In [11]:
rapidapi_key = "XX" # now it's called rapidapi key
twitter_app_auth = {
    'consumer_key'       : '',
    'consumer_secret'    : '',
    'access_token'       : '',
    'access_token_secret': '',
}
bom = botometer.Botometer(wait_on_ratelimit=True,
                          rapidapi_key=rapidapi_key,
                          **twitter_app_auth)

## **Section 1.** Inspect botometer scores of tweet users in the dataset

In [12]:
# to check if our list has repetitions

covid_id = list()
covid_id = list(covid_tek['id'])

def checklist(list):
    for i in list:
        if list.count(i)>1:
            return "You have duplicate tweets"
        else:
            return " Perfect! Every ID is unique"

checklist(covid_id)

' Perfect! Every ID is unique'

In [31]:
covid_tek2 = covid_tek.copy(deep=True)
type(covid_tek2)

pandas.core.frame.DataFrame

In [10]:
print(covid_tek2.shape)

(3179181, 10)

In [33]:
indexNames = covid_tek2[(covid_tek2['username'] == 'bursasporumcom') |(covid_tek2['username'] == 'sakaryagazetesi') | (covid_tek2['username'] == 'dokuz8haber')
| (covid_tek2['username'] == 'milliyet') | (covid_tek2['username'] == 'dikencomtr')].index
indexNames

Int64Index([     793,      794,      976,     1127,     2671,     2672,
                3323,     4229,     4237,     4246,
            ...
            22625707, 22626343, 22626618, 22627107, 22627331, 22628359,
            22628557, 22628681, 22675548, 22675581],
           dtype='int64', length=4362)

In [34]:
covid_tek_drop=covid_tek2.drop(indexNames, inplace= False)

In [35]:
covid_tek_drop.shape

(3174819, 10)

In [ ]:
userProfiles = dict()
# Read tweet datasets to collect user-ids

for line in covid_new.index:
    if covid_new['username'][line] not in userProfiles:
            userProfiles[covid_new['username'][line]] = {'count':0}
            
    userProfiles[covid_new['username'][line]]['count'] += 1
    userProfiles[covid_new['username'][line]].update({
            'screen_name': covid_new['username'][line],
            "user_id" : covid_new['user_id'][line],
        })
        
print('{} unique users collected'.format(len(userProfiles)))

###794577 unique users collected

In [37]:
covid_test = covid_tek_drop.sample(n=10000)

In [ ]:
covid_test.head(200)

In [38]:
userProfiles = dict()
# Read tweet datasets to collect user-ids

for line in covid_test.index:
    if covid_test['username'][line] not in userProfiles:
            userProfiles[covid_test['username'][line]] = {'count':0}
            
    userProfiles[covid_test['username'][line]]['count'] += 1
    userProfiles[covid_test['username'][line]].update({
            'screen_name': covid_test['username'][line],
            "user_id" : covid_test['user_id'][line],
        })
        
print('{} unique users collected'.format(len(userProfiles)))

###794577 unique users collected

9526 unique users collected

In [39]:
userDf = pd.DataFrame.from_dict(userProfiles, orient='index')

In [40]:
## create a lost with usernames in a format botometer can use 
deneme= list()
deneme = ('@'+userDf['screen_name'])
len(deneme)

9526

In [36]:
deneme1 = list()
deneme1 = deneme[:150]
len(deneme1)

150

In [37]:
import json

result=list()
json = json.dumps(result)
f = open("result.json","w")
f.write(json)
f.close()

In [21]:
type(result)

list

In [ ]:
result=list()
for i in range(len(deneme1)):
  try:
    result.append(bom.check_account(deneme1[i]))
    print('Processing')
  except:
    continue

In [56]:
import json
json = json.dumps(result)
f = open("result.json","w")
f.write(json)
f.close()

In [ ]:
deneme2 = list()
deneme2 = deneme[151:300]


result2=list()
for i in range(len(deneme2)):
  try:
    result2.append(bom.check_account(deneme2[i]))
    print('Processing')
  except:
    continue

In [57]:

import json
json = json.dumps(result2)
f = open("result2.json","w")
f.write(json)
f.close()

In [ ]:
deneme3 = list()
deneme3 = deneme[301:1000]


result3=list()
for i in range(len(deneme3)):
  try:
    result3.append(bom.check_account(deneme3[i]))
    print('Processing')
  except:
    continue

In [58]:
import json
json = json.dumps(result3)
f = open("result3.json","w")
f.write(json)
f.close()

In [ ]:
deneme5 = list()
deneme5 = deneme[1001:1200]


result5=list()
for i in range(len(deneme5)):
  try:
    result5.append(bom.check_account(deneme5[i]))
    print('Processing')
  except:
    continue

In [152]:
import json
json = json.dumps(result5)
f = open("result5.json","w")
f.write(json)
f.close()

In [154]:
deneme6 = list()
deneme6 = deneme[1201:1500]


result6=list()
for i in range(len(deneme6)):
  try:
    result6.append(bom.check_account(deneme6[i]))
  except:
    continue

    print('Processing')

import json
json = json.dumps(result6)
f = open("result6.json","w")
f.write(json)
f.close()

In [ ]:
deneme7 = list()
deneme7 = deneme[1501:]


result7=list()
for i in range(len(deneme7)):
  try:
    result7.append(bom.check_account(deneme7[i]))
  except:
    continue

    print('Processing')

import json
json = json.dumps(result7)
f = open("result7.json","w")
f.write(json)
f.close()

# **Section 2.** The next section is to see most active users

In [41]:
# Let's look at the most active accounts
userDf = pd.DataFrame.from_dict(userProfiles, orient='index')

In [42]:
userDf = userDf.sort_values(by='count', ascending=False)
userDf

                 count      screen_name       user_id
sondakikhabertr     12  sondakikhabertr  2.656757e+09
teknobilginet       11    teknobilginet  2.987052e+09
anahabercom         10      anahabercom  1.291886e+09
habersnm             8         habersnm  3.898611e+09
corona_haber         8     corona_haber  1.238072e+18
...                ...              ...           ...
musasev23438057      1  musasev23438057  1.230414e+18
gokhansonmez         1     gokhansonmez  1.150151e+08
eraytrader           1       eraytrader  9.888887e+07
28ekim1926           1       28ekim1926  2.352443e+09
haciarinmis          1      haciarinmis  5.872667e+08

[9526 rows x 3 columns]

I have the botometer scores of ~1000 users in result4.json file

What I need to do is to combine the scores file with userProfiles and counts of tweets

In [14]:
import json
with open ('/content/result.json','r') as infile:
  data=json.load(infile)

result_samp = data

In [15]:
len(result_samp)

148

In [16]:
with open ('/content/result2.json','r') as infile:
  data=json.load(infile)
  
result_samp += data

In [17]:
len(result_samp)

287

In [18]:
with open ('/content/result3.json','r') as infile:
  data=json.load(infile)

result_samp += data
len(result_samp)

968

In [19]:
with open ('/content/result5.json','r') as infile:
  data=json.load(infile)

result_samp += data
len(result_samp)

1163

In [20]:
with open ('/content/result6.json','r') as infile:
  data=json.load(infile)

result_samp += data
len(result_samp)

1453

In [96]:
result_sampdf = pd.DataFrame(result_samp)

In [114]:
print(type(result_samp)) ## list of dictionaries 
print(type(result_samp[1]))

<class 'list'>
<class 'dict'>

In [121]:
(result_samp[0])

{'cap': {'english': 0.009922300094567935, 'universal': 0.007183846426565749},
 'categories': {'content': 0.07065345957790067,
  'friend': 0.19869669732913162,
  'network': 0.15895834190828398,
  'sentiment': 0.06371792784714292,
  'temporal': 0.27589464844196043,
  'user': 0.03482447811460989},
 'display_scores': {'content': 0.4,
  'english': 0.9,
  'friend': 1.0,
  'network': 0.8,
  'sentiment': 0.3,
  'temporal': 1.4,
  'universal': 0.7,
  'user': 0.2},
 'scores': {'english': 0.1807672693005155, 'universal': 0.13802618960216584},
 'user': {'id_str': '193307626', 'screen_name': 'aladasyz'}}

In [126]:
result_samp[0]["cap"]["universal"]
result_samp[0]["user"]["screen_name"]

'aladasyz'

In [139]:
botscore = pd.DataFrame()

In [144]:
len(result_samp)

968

In [21]:
screen_name=list()
universalscore = list()

for i in range(len(result_samp)):
  screen_name.append(result_samp[i]["user"]["screen_name"]),
  universalscore.append(result_samp[i]["scores"]["universal"])

#print(botscore)
print(len(screen_name))
print(len(universalscore))

1453
1453

In [22]:
zippedbot = list(zip(screen_name, universalscore))

In [23]:
botscore= pd.DataFrame(zippedbot, columns=["screen_name","universal_score"])

In [24]:
botscore.head()
len(botscore)

1453

In [25]:
botscore.to_csv('botscore.csv', 
            encoding = 'utf-8',
            index = False)

In [43]:
userDf.head()

                 count      screen_name       user_id
sondakikhabertr     12  sondakikhabertr  2.656757e+09
teknobilginet       11    teknobilginet  2.987052e+09
anahabercom         10      anahabercom  1.291886e+09
habersnm             8         habersnm  3.898611e+09
corona_haber         8     corona_haber  1.238072e+18

In [48]:
botscore.head()
botscore['screen_name']

0              aladasyz
1       murat_tiryaki55
2           bankobahis7
3         akdemircigdem
4        semerkantkemal
             ...
1448    celikkk_alperrr
1449       sariyerimcom
1450      dilara_onur34
1451    alpogan_huseyin
1452         nurcan_bac
Name: screen_name, Length: 1453, dtype: object

In [52]:
name_list<- list()

NameError: ignored

In [53]:
name_list<- list(botscore['screen_name'])

NameError: ignored

In [67]:
botscore.head()
botscore.screen_name
type(botscore)

pandas.core.frame.DataFrame

In [68]:
indexnames= userDf[userDf.screen_name not in botscore.screen_name].index

TypeError: ignored

In [46]:
userDf.to_csv('userprofiles.csv', 
            encoding = 'utf-8',
            index = False)

# **Section 3.** This section is to draw network of sample tweets

# **Section 4.** This section is to see the bots and real users in network